<nav class="header">
    <a class="logo" href="/">Virtual <br> Bartender</a>
  
      <ul class="main-nav">
        <li>
          <a href="/cocktails">All Cocktails</a>
        </li>
        <li>
          <a href="/cocktails/new">New Cocktail</a>
        </li>
        <li >
          <a href="/ingredients">All Ingredients</a>
        </li>
        <li >
          <a href="/ingredients/new">New Ingredient</a>
        </li>
        <li >
          <a href="/ingredients/new">Surprise Me</a>
        </li>
      </ul>
    </div>
  </nav>
