<style>
  body {
    background: #27ae60;
  }
  </style>
<div id="main-content">
<div class="page-title">New Ingredient</div>
<form action="/ingredients" method="POST">
  <table class="add-item-table">
    <tr>
  <div class="form-group">
    <td><label for="name">Name</label></td>
    <td><input type="text" class="form-control" id="name" name="name" /></td>
  </div>
</tr>
<tr>
  <td><button type="submit" id="submit">Submit</button></td>
</tr>
</table>
</form>
</div>