<style>
  body {
    background: #27ae60;
  }
  </style>
<div id="main-content">
<div class="page-title">New Ingredient</div>
<form action="/ingredients" method="POST">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>